@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-color: gray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    z-index: 2;
    font-size: 48px;
    background-color: black;
    display: inline-block;
    margin: auto;
    position: relative;
    font-family: 'Amatic SC', cursive;
    color: white;
    padding: 20px;
}

.background-imgs {
    width: 100vw;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 0;
}

.background-imgs img {
    z-index: 0;
    opacity: 0.5;
    width: 33.33%;
    margin: 0;
    height: 100vh;
    object-fit: cover;
}

.background-imgs img:hover {
    transition: ease-in 0.2s;
    opacity: 1;
}